* {
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

header {
    position: fixed;
    background-color: aqua;
    height: 56px;
    width: 100%;
}

main {
    background-color: burlywood;
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}

aside {
    background-color: yellow;
    /* width: 100%; */
    padding-top: 24px;
    padding-right: 24px;
}

iframe {
    height: 480px;
    width: 853px;
}

#main-aside {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    background-color: teal;
    padding-left: 97px;
}

.recommended {
    background-color: tomato;
    margin-bottom: 8px;
    width: 402px;
    height: 94px;
}

.title-area {
    background-color: violet;
    width: 853px;
    height: 81px;
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.description-area {
    background-color: chartreuse;
    width: 853px;
    height: 291px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
}

.comments-area {
    background-color: coral;
    width: 853px;
}

.title {
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

.title-info {
    background-color: crimson;
    height: 40px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-right {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: yellow;
}