* {
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    background-color: aqua;
    height: 56px;
    width: 100%;
}

main {
    background-color: burlywood;
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}

aside {
    background-color: yellow;
    /* width: 100%; */
    padding-top: 24px;
    padding-right: 24px;
}

iframe {
    height: 480px;
    width: 853px;
}

#main-aside {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    background-color: teal;
    padding-left: 97px;
}

.recommended {
    background-color: tomato;
    margin-bottom: 8px;
    width: 402px;
    height: 94px;
    display: flex;
    flex-direction: row;
}

.vid-title {
    font-weight: bold;
    color: #fff;
    margin-bottom: 4px;
}

.vid-author {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 4px;
}

.vid-views {
    font-size: 12px;
    color: #aaa
}

.title-area {
    background-color: violet;
    width: 853px;
    height: 81px;
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.description-area {
    background-color: chartreuse;
    width: 853px;
    height: fit-content;
    padding: 16px 0 0;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
}

.comments-area {
    background-color: coral;
    width: 853px;
}

.title {
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

.ch-info {
    margin-bottom: 12px;
}

.title-info {
    background-color: crimson;
    height: 40px;
    color: #aaa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-right {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: yellow;
}

#channel-icon {
    border-radius: 100%;
}

.sub-btn {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
    border-radius: 5%;
}

.sub-count {
    font-size: 12px;
    color: #aaa;
}

.show-more {
    font-size: 13px;
    margin-top: 8px;
    font-weight: bold;
    color: #aaa;
}

.channel-name {
    color: #fff;
}

.description {
    color: #fff;
}

.sort-by-icon {
    height: 24px;
    margin-right: 8px;
}

.sort-by {
    background: none;
    border: none;
    font-weight: bold;
    color: #aaa;
}

.comments-top {
    display: flex;
    flex-direction: row;
}

.add {
    display: flex;
    flex-direction: row;
}

.unnamed {
    border-radius: 100%;
}

hr {
    width: 805px;
}

.num-comments {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.add-comment {
    color: #aaa;
}

.comment-icon {
    border-radius: 100%;
}

.comment {
    display: flex;
    flex-direction: row;
}

.commenter-posted {
    display: flex;
    flex-direction: row;
}

.comment-bottom {
    display: flex;
    flex-direction: row;
}

.commenter {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}

.posted {
    font-size: 12px;
    color: #aaa;
}

.comment-block {
    color: #fff;
}

.comment-like {
    font-size: 12px;
    color: #aaa;
}

.comment-like img {
    height: 16px;
}

.comment-dislike {
    font-size: 12px;
    color: #aaa;
}

.comment-dislike img {
    height: 16px;
}

.reply {
    font-size: 13px;
    color: #aaa;
    background: none;
    border: none;
}

.middle input {
    width: 565px;
    height: 26px;
    margin-bottom: 4px;
    padding: 1px 2px;
    background: none;
    border: 1px #aaa solid;
    border-radius: 0;
    outline: none;
    font-size: 16px;
}