* {
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

header {
    position: fixed;
    background-color: aqua;
    height: 56px;
    width: 100%;
}

main {
    background-color: burlywood;
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}

aside {
    background-color: yellow;
    /* width: 100%; */
    padding-top: 24px;
    padding-right: 24px;
}

iframe {
    height: 480px;
    width: 853px;
}

#main-aside {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    background-color: teal;
}